body {
    margin: 0;
    padding: 0;
}

/* TOPBOARD */
#topBoard{
    position: fixed;
    background-color: rgb(27,32,34);
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#topBoardButtons{
    width: 750px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#tsComunityBrawl{
    font-size: 25px;
}
.topBoardButtonsButton{
    color: white;
    border-color: transparent;
    background-color: transparent;
    padding: 10px;
    font-size: 17px;
}


/* MIDDLEBOARD */
#middleBoard{
    width: 100%;
    height: auto;
}
#middleBoard-0{
    width: 100%;
    height: 647px;
    background: linear-gradient(rgb(24, 28, 30), rgb(49, 54, 59));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#middleBoard-0\.0{
    width: auto;
    height: 350px;
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#middleBoard-0\.0\.0{
    width: auto;
    height: auto;
    color: white;
    margin-top: 100px;
    font-size: 50px;
}
#middleBoard-0\.0\.1{
    width: auto;
    height: auto;
    color: white;
    font-size: 21px;
}
#middleBoard-0\.0\.2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#middleBoard-0\.0\.2-button-0{
    width: 200px;
    height: auto;
    color: white;
    background-color: rgb(2, 77, 151);
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 15px;
    padding: 13px;
    font-size: 18px;
    transition-property: all;
    transition-duration: 0.3s;
}
#middleBoard-0\.0\.2-button-0:hover{
    color: rgb(35, 40, 43);
    background-color: white;
    transition-property: all;
    transition-duration: 0.3s;
}
#middleBoard-0\.0\.2-button-1{
    width: 200px;
    height: auto;
    color: white;
    background-color: transparent;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 13px;
    font-size: 18px;
    transition-property: all;
    transition-duration: 0.3s;
}
#middleBoard-0\.0\.2-button-1:hover{
    color: rgb(2, 77, 151);
    background-color: white;
    transition-property: all;
    transition-duration: 0.3s;
}
#middleBoard-0\.1{
    width: 350px;
    height: auto;
    margin-top: 65px;
}

#middleBoard-1{
    width: 100%;
    height: 500;
    background-color: rgb(239, 141, 12);
}
    
#middleBoard-2{
    width: 100%;
    height: 500;
    background-color: rgb(72, 12, 239);
}  
#middleBoard-3{
    width: 100%;
    height: 500;
    background-color: rgb(239, 12, 12);
}
    
#middleBoard-4{
    width: 100%;
    height: 500;
    background-color: rgb(54, 239, 12);
}
    

/* BOTTOMBOARD */
#bottomBoard{
    width: 100%; 
    }