body {
    margin: 0;
    padding: 0;
}

/* TOPBOARD */
#topBoard{
    position: fixed;
    background-color: rgb(24, 28, 30);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topBoardButton{
    padding: 10px;
    font-size: 30px;
}
#tsComunityBrawl{
    font-size: 60px;
}

/* MIDDLEBOARD */
#middleBoard{
    background: linear-gradient(rgb(24, 28, 30), rgb(49, 54, 59));
}

/* BOTTOMBOARD */
#bottomBoard{
    width: 100%; 
}