/* MIDDLEBOARD */
#middleBoard{
    width: 100%;
    height: 647px;
    background: linear-gradient(rgb(240, 190, 184), rgb(244, 235, 234));
    display: flex;
    flex-direction: column;
    align-items: center;
}
#middleBoard-1{
    width: 100%;
    height: auto;
}